body {
    font-family: Helvetica, sans-serif;
    margin: 0; /* delete line around body */
    padding: 0; /* delete line around body */
}

/* first section */

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background-color: #87509c; /* here can be some image */
    height: 595px;
}

.container {
    width: 1140px;
    margin: 0 auto; /*  centering container */
}

/* fist section logo and nav */

.logo {
    margin-top: 71px;
    float: left; /* move logo to left */
}

nav {
    float: right; /* move nav to right */
    margin-top: 71px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 30px;
}

.menu a {
    color: white;
    text-decoration: none; /* delete line under words */
    text-transform: uppercase; /* make all simbole uppercase */
}

.titles_first {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}

.titles_first p {
    margin: 0;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.button {
    background-color: #eb7d4b;
    color: white;
    border-radius: 3px;
    display: block;
    width: 293px;
    padding: 20px 0;
    margin: 50px auto 144px auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 -3px inset #c86a40;
}

.section_1 {
    background-color: #17c2a4;
    height: 747px;
}

.title_white {
    padding-top: 115px;

}

.title_white h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

.title_hr {
    border-top: 4px solid #13a78d;
    width: 10%;
    margin: 30px auto;
}

.title_white p {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    padding: 50px 200px 30px 200px;
}

.services_item {
    width: 193px;
    float: left;
    text-align: center;
}

.services_item h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.services_item p {
    color: white;
    font-size: 16px;
}

.services_item:last-child {
    float: right;
}

.services_item:nth-child(2) {
    margin-left: 100px;
}

.services_item:nth-child(3) {
    margin-left: 100px;
}

.section_2 {
    background-color: #e7f1f8;
    color: #3c4761;
}

.black {
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4761;
    font-weight: 100;
}

.title_black {
    padding-top: 115px;

}

.title_black h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

.title_hr {
    border-top: 4px solid gainsboro;
    margin-top: 25px;
    border-radius: 5px;
    width: 86px;
}

.title_black p {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    padding: 50px 200px 30px 200px;
}