body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Header */

.header {
    padding-top: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

.nav_link:hover {
    background-color: #643a79;
    border-radius: 5px;
    padding: 10px 17px;
}

/* Intro */

.intro {
    background-color: #87509c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 595px;
}

.intro_inner {
    width: 100%;
    max-width: 906px;
    margin: 160px auto;
    text-align: center;
}

.intro_title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

/* Button */

.btn {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    display: block;
    width: 296px;
    padding: 20px 0;
    margin: 40px auto 90px auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.btn-color-red {
    background-color: #eb7d4b;
    box-shadow: 0 -4px inset #c86a40;
}

.btn-color-green {
    background-color: #17c2a4;
    box-shadow: 0 -4px inset lightgray;
}


/* Services */

.services {
    background-color: #17c2a4;
    height: 747px;
}

.main_section_title h2 {
    padding-top: 119px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

.white {
    color: white;
}

.title_line {
    width: 87px;
    height: 4px;
    opacity: 0.15;
    background-color: #000000;
    margin: 21px auto;
}

.main_section_title p {
    text-align: center;
    font-size: 18px;
    padding: 0 25%;
}

.flex_box_section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section_item {
    text-align: center;
    margin: 0 30px;
}

.icon_service {
    margin-bottom: 25px;
    height: 124px;
}

.section_item h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.section_item p {
    font-size: 16px;
    padding: 15px 20px;
    height: 158px;
}

/* Our team */


.icon_team {
    width: 200px;
}

.our_team {
    background-color: #e7f1f8;
    color: #3c4761;
    height: 915px;
}

.section_item span {
    font-size: 16px;
    text-transform: uppercase;
    color: #30bae7;
    text-align: center;
}

/* Our skulls */

.skulls {
    background-color: #ffffff;
    height: 655px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    width: 160px;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circular-chart.bluesky .circle {
    stroke: #30bae7;
}

.circular-chart.red .circle {
    stroke: #d74680;
}

.circular-chart.yellow .circle {
    stroke: #15c7a8;
}

.circular-chart.orange .circle {
    stroke: #eb7d4b;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

/* OUR portfolio */

.our_portfolio {
    background-color: #ffdd99;
    height: 1423px;
}

.flex_box_section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}