/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* Container */

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Header */

.header {
    padding-top: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    padding: 5px 15px;
}

.nav-link:hover {
    border-radius: 5px;
    background-color: #633a79;
}


/* Intro */

.intro {
    background-color: #87509c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 595px;
}

.intro-inner {
    width: 100%;
    max-width: 906px;
    margin: 160px auto;
    text-align: center;
}

.intro-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

/* Buttons */

.btn {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    display: block;
    width: 296px;
    padding: 20px 0;
    margin: 40px auto 90px auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.btn-color-red {
    background-color: #eb7d4b;
    box-shadow: 0 -4px inset #c86a40;
}

.btn-color-green {
    background-color: #17c2a4;
    box-shadow: 0 -4px inset gray;
}

.btn-color-skyblue {
    background-color: #30bae7;
    box-shadow: 0 -4px inset gray;
}

/* Services */

.services {
    background-color: #17c2a4;
    height: 747px;
    color: white;
}

.main-section-title h2 {
    padding-top: 115px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 4px;
}

.title-line {
    width: 87px;
    height: 4px;
    opacity: 0.15;
    background-color: #000000;
    margin: 16px auto;
}

.main-section-title p {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 1.5;
}

.flex-box-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section-item {
    text-align: center;
    margin: 0 30px;
}

.icon-service {
    height: 124px;
}

.section-item h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 13px;
}

.section-item p {
    font-size: 16px;
    padding: 15px 20px;
    height: 158px;
    line-height: 1.5;
}

/* Our team */


.icon-team {
    width: 200px;
}

.our-team {
    background-color: #e7f1f8;
    color: #3c4761;
    height: 915px;
}

.section-item span {
    font-size: 16px;
    text-transform: uppercase;
    color: #30bae7;
    text-align: center;
}

/* Our skulls */

.skulls {
    background-color: #ffffff;
    height: 655px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    width: 160px;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circular-chart.bluesky .circle {
    stroke: #30bae7;
}

.circular-chart.red .circle {
    stroke: #d74680;
}

.circular-chart.yellow .circle {
    stroke: #15c7a8;
}

.circular-chart.orange .circle {
    stroke: #eb7d4b;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

/* Our portfolio */

.our-portfolio {
    background-color: #ffdd99;
    height: 1423px;
}

.portfolio-group-btn {
    text-align: center;
    margin-bottom: 10px;
}

.portfolio-link {
    display: inline-block;
    background-color: #ebc985;
    width: 90px;
    border-radius: 4px;
    padding: 8px 8px;
    margin: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #393939;
    font-size: 18px;
    line-height: 1.11;
}

.portfolio-link:hover {
    background-color: white;
}

.flex-box-section-portfolio {
    display: flex;
    justify-content: space-between;
}

.icon-portfolio {
    margin-top: 60px;
}

/* Review section */

.review-section {
    background-color: #d74680;
    height: 895px;
    color: white;
}

.review-flex-box-section {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

.review-item {
    display: flex;
    width: 1098px;
}

.review-item-text p {
    margin: 11px 40px 23px 48px;
    font-size: 21px;
    font-style: italic;
    line-height: 1.44;
}

.review-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 48px;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.review-item span {
    font-size: 18px;
    color: #ffdd99;
    margin-left: 48px;
}

.icon-review {
    height: 96px;
    width: 96px;
}

/* Get in touch */
.get-in-touch {
    background-color: #3c5499;
    height: 819px;
    color: white;
}

.contact-box {
    width: 100%;
    max-width: 860px;
    margin: 46px auto;
    text-align: center;
    color: white;
}

.field {
    font-size: 18px;
    background-color: #273a71;
    width: 414px;
    height: 56px;
    border-radius: 2px;
    color: white;
}

.field-left {
    float: left;
    padding-left: 25px;
}

.field-right {
    float: right;
    padding-left: 25px;
}

.field-center {
    width: 860px;
    height: 200px;
    align-items: center;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 15px;
    padding: 25px;
}

/* Footer */
.footer-section {
    background-color: #344b8e;
    height: 113px;
}

.footer-nav {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    line-height: 1.25;
}

.footer-nav:after {
    color: red;
}

.footer-nav {
    font-size: 24px;
}

.footer-nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
}

.footer-nav-link:hover {
    color: #30bae7;
}
